.chat {
    display: flex;
    flex-direction: column;
    .me {
        position: relative;
        margin: 20px 5px 0px;
        max-width: 80%;
        float: right;
        align-self: flex-end;
        padding: 6px 10px 7px;
        border-radius: 15px 15px 0;
        background: burlywood;
        font-size: medium;
        line-height: 1.4;
    }
    .you {
        position: relative;
        margin: 15px;
        max-width: 80%;
        align-self: flex-start;
        padding: 6px 10px 7px;
        border-radius: 15px 15px 0;
        background: rgb(235, 9, 148);
        font-size: medium;
        line-height: 1.4;
        // color: white;
    }
    .name {
        font-size: small;
        font-weight: bold;
    }
}

.me {
    float: right;
}

.floatr {
    float: right;
}